<form (ngSubmit)="onSubmit()" #f="ngForm">
  <h1 mat-dialog-title>Join Petite Celine World</h1>
  <p>Enter your email to get on news dates and more!</p>
  <div mat-dialog-content>
    <mat-form-field class="modal-form-field">
      <input
        matInput
        type="text"
        id="email"
        ngModel name="email"
        required
        email
        #email="ngModel"
        placeholder="Email Address">
    </mat-form-field>
    <br>
    <span style="font-size:12px;" *ngIf="!email.valid && email.touched">Enter a valid email adress</span>
  </div>
  <div class="buttons" mat-dialog-actions>
    <button mat-button>No, Thanks</button>
    <button
      mat-raised-button
      cdkFocusInitial
      type="submit"
      [disabled]="!f.valid">Subscribe</button>
  </div>
</form>
