:host {
  display: block;
  z-index: 20;
}


ul.menu-buttons {
  font-size: 44px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.nav-icon {
  color: #a4955c;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.nav-icon:hover {
  color: #7d7246;

}

.shadow {
  text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.2);
}

ul.menu-buttons > li > * {
  color: #E0DCE0;
}

ul.menu-buttons > li > *:hover {
  color: grey;
}
/* .active {
  color: #a4955c;
  background: blue;
} */
