:host {
  display: block;
}
.header {
  padding-top: 185px;
  padding-bottom: 65px;
  font-family: 'Cardo', serif;
  font-size: 113px;
  /* color: #e0dce0; */
  line-height: 0.659;
}

ul.menu-buttons {
  font-size: 44px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.nav-icon {
  color: #a4955c;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
