<h1 class="header">
  <p style="text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.2);">
    Petite<br>Celine
  </p>
</h1>

<ul class="menu-buttons">
  <li class="music"
    style="text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.1);">Music</li>
  <li class="art"
    style="text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.1);">Art</li>
  <li class="acting"
    style="text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.1);">Acting</li>
</ul>

<div>
  <a href="https://www.instagram.com/petite_celine/" target="_blank">
    <i class="nav-icon fab fa-instagram hoverable"></i>
  </a>
  <a href="https://www.facebook.com/cdutertre.nyc" target="_blank">
    <i class="nav-icon fab fa-facebook hoverable"></i>
  </a>
  <a href="https://www.youtube.com/user/celineNYCmusic" target="_blank">
    <i class="nav-icon fab fa-youtube hoverable"></i>
  </a>
</div>
<a href="mailto:petitecelineworld@gmail.com?Subject=Hello%20again" class="brown-text">
  <p>petitecelineworld@gmail.com</p>
</a>
