:host {
  display: block;
  width: 100vw;
}

.mail-modal {
  margin-top: 20vh;
  border-width: 5.5px;
  border-color: rgb(164, 149, 92);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  font-family: "Greycliff-Regular";
  color: #1c1820;
}

.bkground {
  background: url("../../assets/celine-portrait.png")no-repeat 50% 50%;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  /* padding-bottom: 60px; */
  min-height: 92vh;
}

h2 {
  font-size: 44px;
  font-family: 'Cardo', serif;
  padding-bottom: 13px;
}

:host /deep/ ul {
  color: #75707a;
}

.video {
  padding-top: 35px;
}
.buy-icon:hover {
  color: #7d7246;
}

.purchase-icons {
  margin-top: 60px;
  margin-left: -50px;
}

.purchase-icons>i {
  font-size: 20px;
  vertical-align: bottom;
}

.purchase-icons>p {
  font-size: 16px;
  padding-right: 15px;
}

.purchase-icons>.icons>* {
  margin-right: 10px;
}

.purchase-icons>p,
.purchase-icons>.icons>* {
  color: #a4955c;
}

.events-section {
  padding: 40px 0px 0px 0px;
  border: 10px solid white;
  background: #1c1820;
  min-height: 100vh;
}

.events-banner {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 47px;
  font-family: 'Greycliff-Medium';
  height: 100px;
  padding-top: 40px;
  /* height: 100%; position: absolute; */
}

events-banner-container {
  height: 100%;
  position: absolute;
}

.event {
  font-family: 'Greycliff-Light';
  line-height: 18px;
  padding-bottom: 40px;
}

.event>.venue {
  font-size: 39px;
}

.venue {
  line-height: 30px;
}

.button {
  border-width: 1.569px;
  border-color: rgb(224, 220, 224);
  border-style: solid;
  border-radius: 5px;
  width: 154.862px;
  height: 32.862px;
  margin-top: 34px;
  margin-left: 22px;
}
.button:hover > * {
  color: black;

}

.button:hover {
  border-color: black;
  background: rgb(224, 220, 224);
  color: black;
  cursor: pointer;
}

.tickets {
  font-size: 22px;
  width: 67px;
  height: 8px;
  margin: auto;
  margin-top: -2px;
  color: white;
}

.rectangle {
  position: relative;
  background-color: rgb(85, 170, 160);
  width: 8px;
  height: 35px;
  right: 35px;
  top: 3px;
  vertical-align: baseline;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* padding-top: 25px; */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: -50px;
  width: 132%;
  height: 132%;
}
.video
,.album
 {
  width: 260px;
  /* padding-top: 10vh; */
}

@media (min-width: 1200px) {
  .video
  ,.album
  {
    width: 300px;
    /* padding-top: 10vh; */
  }
 }

.video {
  padding-top: 10.4vh;
}

.music-video {
  opacity: 0.7;
  background: rgb(105, 211, 176);
}

.music-video:hover {
  opacity: 1;
}

/* @media (max-width: 767px) {
  .events-container {
    padding-top: 130px;
  }
  .events-banner {
    padding-left: 8%;
  }
} */

/* @media (max-width: 575px) {
  .events-banner {
    padding-left: 0;
  }
} */

@media (max-width: 575.98px) {
  .events-banner {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .events-container {
    padding-top: 130px;
  }
  .events-banner {
    padding-left: 8%;
  }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    left: 0px;
  }
  .feat-content-row {
    width: 400px;
  }
  .events-banner {
    writing-mode: horizontal-tb;
    height: 100px;
    /* height: 100%; position: absolute; */
  }
  .events-section {
    padding: 40px 0px 0px 0px;
  }
  .event {
    padding-left: 20px;
    /* margin-bottom: 0px; */
    padding-bottom: 0px;
  }
  .button {
    margin-bottom: 40px;
  }
  .video,
  .album {
    width: auto;
  }
  .purchase-icons {
    margin-top: 5px;
    margin-left: 0px;
  }

}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
  .album-title, .video-title {
    font-size: 38px;
  }

}
@media (min-width: 1200px) {
  .video-title {
  margin-top: -40px;
  }
}