<div class="bkground">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <app-nav-menu></app-nav-menu>
      </div>

      <div class="col-sm-4 offset-sm-4">
        <div class="album float-right">
          <div class="row">
            <div class="rectangle"></div>
            <h2 style="width: 275px">Young Soldier</h2>
          </div>
          <ul class="tracklist">
            <li class="tracks">.01 Words</li>
            <li class="tracks">.02 One More Shot</li>
            <li class="tracks">.03 Reason & Rhyme</li>
            <li class="tracks">.04 Demain</li>
            <li class="tracks">.05 After All</li>
            <li class="tracks">.06 Quicksand</li>
            <li class="tracks">.07 The Fall</li>
            <li class="tracks">.08 Young Soldier</li>
          </ul>
        </div>

        <div class="video float-right">
          <div class="row">
            <div class="rectangle"></div>
            <h2 style="width: 275px">“New Album”</h2>
          </div>
          <div class="video-wrapper">
          <iframe
            class="music-video"
            src="https://www.youtube.com/embed/1c5eLrREIf8?rel=0&amp;showinfo=0"
            frameborder="0"
            gesture="media"
            allow="encrypted-media"
            allowfullscreen></iframe>
          </div>
          <div class="purchase-icons row">
            <p>Purchase here</p>
            <div class="icons">
              <i class="fab fa-apple"></i>
              <i class="fab fa-spotify"></i>
              <i class="fab fa-google-play"></i>
              <i class="fab fa-soundcloud"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border: 10px solid #1C1820">
  <div class="events-section">
    <div class="row">

      <div class="col-sm-2">
        <h3 class="events-banner">EVENTS</h3>
      </div>

      <div class="col-sm-6">
        <div class="event event01">
          <div class="date">
            <p>Saturday April 21st</p>
          </div>
          <div class="venue">
            <p>Arlene's Grocery</p>
          </div>
          <div class="location">
            <p>95 Stanton St, New York, NY 10002</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="button ">
          <p class="tickets">Tickets</p>
        </div>
      </div>

        <div class="event event02"></div>
      </div>
  </div>
</div>