:host {
  display: block;
}
.mail-modal {
  margin-top: 20vh;
  border-width: 5.5px;
  border-color: rgb(164, 149, 92);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  font-family: "Greycliff-Regular";
  color: #1c1820;
}
.bkground {
  background: url("../../assets/celine-portrait.png")no-repeat 50% 50%;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  padding-bottom: 60px;
  min-height: 100vh;
}
h2 {
  font-size: 44px;
  font-family: 'Cardo', serif;
  padding-bottom: 13px;
}
:host /deep/ ul {
  color: #75707a;
}
.album {
  padding-top: 100px;
}
.tracks {
  padding-bottom: 3px;
}
.featured-video {
  padding-right: 56px;
}
.video {
  padding-top: 35px;
}

.purchase-icons {
  margin-top: 56px;
  margin-left: -50px;
}
.purchase-icons > i {
  font-size: 20px;
  vertical-align: bottom;
}
.purchase-icons > p {
  font-size: 16px;
  padding-right: 15px;
}
.purchase-icons > .icons > * {
  margin-right: 10px;
}
.purchase-icons > p,
.purchase-icons > .icons > * {
  color: #a4955c;
}
.events-section {
  padding: 90px 10px;
  border: 10px solid white;
  background: #1c1820;
  min-height: 100vh;
}
.events-banner {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 47px;
  font-family: 'Greycliff-Medium';
  height: 500px;
}
.event {
  font-family: 'Greycliff-Light';
  line-height: 18px;
}
.event > .venue {
  font-size: 39px;
}
.button {
  border-width: 1.569px;
  border-color: rgb(224, 220, 224);
  border-style: solid;
  border-radius: 5px;
  width: 154.862px;
  height: 32.862px;
  margin-top: 34px;
  margin-left: 22px;
}

.tickets {
  font-size: 22px;
  width: 67px;
  height: 8px;
  margin: auto;
  margin-top: -2px;
}
.rectangle {
  position: relative;
  background-color: rgb(85, 170, 160);
  width: 8px;
  height: 35px;
  right: 35px;
  top: 3px;
  vertical-align: baseline;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* padding-top: 25px; */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: -50px;
  width: 132%;
  height: 132%;
}