<player>

</player>

<div class="bkground">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <app-nav-menu></app-nav-menu>
      </div>

      <div class="col-md-4 offset-md-4" style="margin-top:9.2vh">
        <div class="album float-md-right">
          <div class="row feat-content-row" style>
            <div class="rectangle wow fadeIn"></div>
            <h2 class="animated fadeIn album-title">Young Soldier</h2>
          </div>

          <ul class="tracklist" style='height: 190px'>
            <song-list></song-list>
          </ul>
        </div>

        <div class="video float-md-right">
          <div class="row feat-content-row">
            <div class="rectangle wow fadeIn"></div>
            <h2 class="animated fadeIn video-title">“No No More”</h2>
          </div>
          <div class="video-wrapper">
            <iframe id="myVideo" class="music-video" src="https://www.youtube.com/embed/pnojhQrQsOE?rel=0&loop=1;showinfo=0?theme=light&color=white"
              frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="purchase-icons row">
            <p>Purchase here</p>
            <div class="icons">
              <a href="https://itunes.apple.com/us/album/words/1371314381?i=1371314384" target="_blank">
                <i class="buy-icon fab fa-apple"></i>
              </a>
              <a href="https://open.spotify.com/album/0xKZdHbA8Ftrrry0V24wyV" target="_blank">
                <i class="buy-icon fab fa-spotify"></i>
              </a>
              <a href="https://play.google.com/store/music/album/Petite_Celine_Young_Soldier?id=Blkqdzvkjjvonb4bfnjz5vvfjd4" target="_blank">
                <i class="buy-icon fab fa-google-play"></i>
              </a>
              <a href="https://soundcloud.com/petite-celine/sets/young-soldier" target="_blank">
                <i class="buy-icon fab fa-soundcloud"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="border: 10px solid #1C1820">
  <div class="events-section">

    <div class="offset-xs-1 col-md-2 events-banner-container">
      <h3 class="events-banner">EVENTS</h3>
    </div>

    <div class="events-container offset-sm-1">
      <div class="row" style='margin-top:-60px;'>
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
              <div class="date">
                <p>Sunday October 14th 2018 - 9pm</p>
              </div>
              <div class="venue">
                <p>Rockwood Music Hall</p>
              </div>
              <div class="location">
                <p>196 Allen St, New York, NY 10002</p>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="button">
            <!-- <p class="tickets text-center pl-5">------</p> -->
            <p class="tickets pl-4">Free Show</p>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
            <div class="date">
              <p>Sunday October 23th 2018 - 10pm</p>
            </div>
            <div class="venue">
              <p>Shapeshifter Lab <br> “No No More” <br> Music Video Release show!</p>
            </div>
            <div class="location">
              <p>18 Whitwell Pl, Brooklyn, NY 11215</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!-- <a href="https://www.eventbrite.com/e/satin-nickel-petite-celine-at-the-delancey-tickets-48140371146" target="_blank"> -->
            <div class="button" style="margin-top: 85px;">
              <p class="tickets text-center pl-5">------</p>
            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="row">
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
            <div class="date">
              <p>Friday November 2nd 2018 - 8pm</p>
            </div>
            <div class="venue">
              <p>Offside Tavern</p>
            </div>
            <div class="location">
              <p>137 W 14th St, New York, NY 10011 </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="button ">
            <p class="tickets pl-4">Free Show</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
            <div class="date">
              <p>Tuesday November 6th 2018 - 8pm</p>
            </div>
            <div class="venue">
              <p>Gold Sounds <br>
                [Election Day Party]</p>
            </div>
            <div class="location">
              <p>44 Wilson Ave, Brooklyn, NY 11237</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="button ">
            <p class="tickets text-center pl-5">------</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
            <div class="date">
              <p>Saturday November 17th 2018 - 10pm</p>
            </div>
            <div class="venue">
              <p>Caffeine Underground</p>
            </div>
            <div class="location">
              <p>447 Central Ave, Brooklyn, NY 11221</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="button ">
            <p class="tickets text-center pl-5">------</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-2 col-md-6">
          <div class="event event01">
            <div class="date">
              <p>Friday November 23rd 2018 - 8pm</p>
            </div>
            <div class="venue">
              <p>Offside Tavern</p>
            </div>
            <div class="location">
              <p>137 W 14th St, New York, NY 10011 </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!-- <a href="" href="https://www.voaafrique.com/a/4413955.html" target="_blank"> -->
            <div class="button ">
              <p class="tickets pl-4">Free Show</p>
            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="event event02"></div>

    </div>
  </div>
</div>


<!-- <div mdbModal #frame="mdb-modal" class="modal fade bottom cookie-modal" id="frameModalBottom" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ show: true, backdrop: false, backdrop: false}">
  <div class="modal-dialog modal-frame modal-bottom" role="document">
    <div style="height:60px; background: #10101068;" class="modal-content">
      <div class="mx-auto modal-body">
        <div class="row px-4">
          <p class=" pr-2">This website uses cookies to enhance your user experience.
          </p>
          <button style="position: relative; top: -10px; height: 35px; background: #101010dd;" type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="frame.hide()" mdbWavesEffect>
            <p style="position: relative; top: -6px;">Got it!</p>
           </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- News Letter Modal -->

<div mdbModal #mailModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{show: isModalShown}">
  <div class="modal-dialog" role="document">
    <div class="modal-content mail-modal">
      <div class="px-5 pt-0">
        <div class="modal-header border-0">
          <button type="button" class="close pull-right" aria-label="Close" (click)="mailModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h1 class="title text-center" style="width: 250px;
                  margin: auto;
                  padding-top: 20px;">Join The Petite World!</h1>
        </div>
        <div class="modal-body">
          <p class="body-text">Enter your email to stay up to date on news, dates and more.</p>

          <form #form="ngForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
              <div class="form-group">
                <label for="name">name</label>
                <input type="text" id="name" formControlName="name" class="form-control">

              </div>
              <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" formControlName="email" class="form-control">
              </div>
            </div>
            <button class="btn btn-primary" type="submit" (click)="mailModal.hide()">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Cookie Modal -->
