:host /deep/ ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:host {
  color: #e0dce0;
  font-family: 'Greycliff-Regular';
}
:host /deep/.header {
  padding-top: 185px;
  /* padding-top: 25vh; */
  padding-bottom: 65px;
  font-family: 'Cardo', serif;
  font-size: 113px;
  /* color: #e0dce0; */
  line-height: 0.659;
}