<div class="container">
  <nav class="nav">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Another link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>

  <div class="row offset-sm-1 col-sm-10 col-lg-8 segment">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://streamable.com/s/2rjav/uyfebm" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-2 col-lg-4">
      <h2>Heloo</h2>
      <h2>hello</h2>
      <h2>Heloo</h2>
    </div>
  </div>

  <div class="row offset-sm-1 col-sm-10 col-lg-8 segment">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe
          class="img-responsive"
          src="http://bandcamp.com/EmbeddedPlayer/album=1252049349/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless>
          <a href="http://petiteceline.bandcamp.com/album/young-soldier">Young Soldier by Petite Celine</a>
        </iframe>
      </div>
    </div>

    <div class="col-sm-6">
      <h2>Petite Celine</h2>
      <h2>out Now</h2>
      <p>perchase</p>
    </div>
  </div>

  <div class="row offset-sm-1 col-sm-10 col-lg-8 segment">
    <div class="col-sm-6">
      <h2>LIVE PERFORMANCE</h2>
      <h2>APRIL 21st @ 6:30pm</h2>
      <h2>ADDRESS: Arlenes Grocery, 95 Stanton St, New York, NY 10002</h2>
    </div>
    <div class="col-sm-6">

    </div>
  </div>


</div>
