:host {
  font-family: 'Greycliff-Regular';
  width: 100%;
  color: #e0dce0;
}

:host /deep/ ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:host /deep/.header {
  margin-top: 23.75vh;
  padding-bottom: 65px;
  font-family: 'Cardo', serif;
  font-size: 113px;
  line-height: 0.659;
}

.app {
  width: 1000px;
}


