<div class="container">
  <div class="row">
    <div class="col-sm-3" style="z-index: 2;">
      <app-nav-menu></app-nav-menu>
    </div>
    <div class="col-sm-9" style="z-index: 1; padding-top: 92px;">
      <div class="wow fadeIn">
        <div style="height: 550px">
          <img *ngIf="mask1" (mouseover)="toggleMask(mask1, 1)" src="../../assets/images/celine-1-mask.png" class="img-fluid" alt="Responsive image">
          <img *ngIf="!mask1" (mouseleave)="toggleMask(mask1, 1)" src="../../assets/images/celine-1.png" class="img-fluid" alt="Responsive image">
        </div>
        <a class="btn-floating btn-lg purple-gradient waves-light pt-3 text-center wow rotateIn" style="position: absolute; top:140px; right: -26px"
          mdbWavesEffect>
          <p>Bio</p>
        </a>
        <img *ngIf="mask2" (mouseover)="toggleMask(mask2, 2)" src="../../assets/images/celine-2-mask.png" class="img-fluid" alt="Responsive image"
          style="max-width: 50%;">
        <img *ngIf="!mask2" (mouseleave)="toggleMask(mask2, 2)" src="../../assets/images/celine-2.png" class="img-fluid" alt="Responsive image"
          style="max-width: 50%;">

        <img *ngIf="mask3" (mouseover)="toggleMask(mask3, 3)" src="../../assets/images/celine-3-mask.png" class="img-fluid float-right"
          alt="Responsive image" style="max-width: 50%;">
        <img *ngIf="!mask3" (mouseleave)="toggleMask(mask3, 3)" src="../../assets/images/celine-3.png" class="img-fluid float-right"
          alt="Responsive image" style="max-width: 50%;">
      </div>

    </div>
  </div>

  <div class="row" style="margin-top: 60px;
      height: 420px;
      background: #71bcc2;">
    <div class="box-extension" style="height: 420px;
        background:#71bcc2;
        width: 40vw;
        position:absolute;
        left: -10px;"></div>
    <div class="offset-sm-2 col-sm-6 video float-right" style="padding-top: 50px;">
      <div class="video-wrapper">
        <iframe class="music-video" src="https://www.youtube.com/embed/1c5eLrREIf8?rel=0&amp;showinfo=0" frameborder="0" gesture="media"
          allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="pull-sm-1 col-sm-4">
      <h1 class="header reel" style="text-shadow: 5px 5px 6px rgb(40, 39, 39, 0.12);">Reel</h1>
    </div>
  </div>
</div>
