<div class="container">
  <div class="row">
    <div class="col-sm-3" style="z-index: 2;">
      <app-nav-menu></app-nav-menu>
    </div>
    <div class="col-sm-9" style="z-index: 1; padding-top: 92px;">
      <img src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
        class="img-fluid" alt="Responsive image">
      <a class="btn-floating btn-lg purple-gradient waves-light pt-3 text-center" style="position: absolute; top:140px; right: -26px" mdbWavesEffect><p>Bio</p></a>

      <img src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
        class="img-fluid" alt="Responsive image" style="max-width: 50%;">
      <img src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
        class="img-fluid float-right" alt="Responsive image" style="max-width: 50%;">
    </div>
  </div>

  <div class="row" style="margin-top: 60px;
      height: 420px;
      background: #71bcc2;">
    <div class="box-extension" style="height: 420px;
        background:#71bcc2;
        width: 40vw;
        position:absolute;
        left: -10px;"></div>
    <div class="offset-sm-2 col-sm-6 video float-right" style="padding-top: 50px;">
      <div class="video-wrapper">
        <iframe class="music-video" src="https://www.youtube.com/embed/1c5eLrREIf8?rel=0&amp;showinfo=0" frameborder="0" gesture="media"
          allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <h1 class="header">Reel</h1>
    </div>
  </div>
</div>
