<div class="container" style="padding-bottom: 70px;">
  <div class="row">
    <div class="col-md-3" style="z-index: 2;">
      <app-nav-menu></app-nav-menu>
    </div>
    <div class="col-md-9" style="z-index: 1; padding-top: 92px;">
      <div class="animated fadeIn" data-wow-duration="0.6s">

        <img *ngIf="mask1" (mouseover)="toggleMask(mask1, 1)" src="../../assets/images/celine-1-mask.png" class="img-fluid" alt="Responsive image">
        <img [hidden]="mask1" (mouseleave)="toggleMask(mask1, 1)" src="../../assets/images/celine-1.png" class="img-fluid" alt="Responsive image">

        <a class="btn-floating btn-lg purple-gradient waves-light pt-3 text-center wow rotateIn" style="position: absolute; top:140px; right: -26px"
          type="button" data-toggle="modal" data-target="#basicExample" (click)="resumeModal.show()" mdbWavesEffect>
          <p>Bio</p>
        </a>

        <img *ngIf="mask2" (mouseover)="toggleMask(mask2, 2)" src="../../assets/images/celine-2-mask.png" class="img-fluid" alt="Responsive image"
          style="max-width: 50%;">
        <img [hidden]="mask2" (mouseleave)="toggleMask(mask2, 2)" src="../../assets/images/celine-2.png" class="img-fluid" alt="Responsive image"
          style="max-width: 50%;">

        <img *ngIf="mask3" (mouseover)="toggleMask(mask3, 3)" src="../../assets/images/celine-3-mask.png" class="img-fluid float-right"
          alt="Responsive image" style="max-width: 50%;">
        <img [hidden]="mask3" (mouseleave)="toggleMask(mask3, 3)" src="../../assets/images/celine-3.png" class="img-fluid float-right"
          alt="Responsive image" style="max-width: 50%;">
      </div>

    </div>
  </div>

  <div class="row reel-box">
    <div class="box-extension"></div>
    <div class="col-md-8 offset-lg-2 col-lg-6 video float-lg-right wow fadeIn" style="padding-top: 50px;">
      <div class="video-wrapper">
        <iframe class="" src="https://www.youtube.com/embed/96ayQ3GsfrE?rel=0?theme=light&color=white&mute=1&autoplay=1" frameborder="0" gesture="media"
          allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-2 d-none d-md-block" style="height: 400px;">
      <h1 class="reel">
        Reel</h1>
    </div>
    <div style="height: 60px;"></div>

    <div class="col-sm-2 align-bottom align-text-bottom">
      <a style="color:white" href="../../assets/celine-acting-resume.pdf" download>
        <div class="row align-text-bottom download-link" style="">

          <p class="align-bottom align-left">Download Resume</p>&nbsp;&nbsp;
          <i class="fa fa-download float-right" style="font-size: 24px" aria-hidden="true"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<div mdbModal #resumeModal="mdb-modal" [config]="{backdrop:false}" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Bio</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resumeModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <p style="color: black">Celine's first love was film. She began her career as an actress at age 6,
              and became a member of SAG in 2002. Celine's work can be seen in feature films
              (such as, Spielberg’s “Catch Me if You Can” and Eastwood’s “Mystic River”),
              commercials, and TV, as well as work voice overs and indie films.
              Celine graduated from Pace University in NYC with a BFA in Acting.
              She also taught weekly Improvisational Acting classes at The Door High School in Manhattan.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="resumeModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
