/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  /* max-width: 1000px; */
}

.bkground {
  background: url("./assets/background.jpg")no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 60px;
}
