<div class="container">
  <div class="row">
    <h1 class="title text-center" style="margin: auto">  小さなセリーヌ |  छोटे सेलीन | <span style="font-size:26px">маленький Селин</span> | <span style="font-size:37px">سيلين صغير</span> </h1>
  </div>
  <div class="row">
    <h1 class="name" style="margin: auto">Petite Celine</h1>
  </div>
  <div class="row">
    <ul class="social-media" style="margin: auto">
      <a class="media-margin" href="mailto:petitecelineworld@gmail.com?Subject=Hello%20Celine" target="_top"><i class="far fa-envelope"></i></a>
      <a class="media-margin" target="_blank" href="http://www.instagram.com/petite_celine"><i class="fab fa-instagram"></i></a>
      <a class="media-margin" target="_blank" href="http://www.youtube.com/user/celineNYCmusic"><i class="fab fa-youtube"></i></a>
      <a class="media-margin" target="_blank" href="http://soundcloud.com/petite-celine"> <i class="fab fa-soundcloud"></i></a>
    </ul>
  </div>

  <div class="row offset-sm-1 col-sm-11 col-lg-8 segment segment_1">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://streamable.com/s/2rjav/uyfebm" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-2 col-lg-4">
      <h2 class="description col-lg-offset-1"> Petite Celine</h2>
      <h2 class="description">
        New Album <br>
        Coming Soon
      </h2>
    </div>
  </div>

  <div class="row offset-sm-1 col-sm-11 col-lg-8 segment">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe
          class="img-responsive"
          src="http://bandcamp.com/EmbeddedPlayer/album=1252049349/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless>
          <a href="http://petiteceline.bandcamp.com/album/young-soldier">Young Soldier by Petite Celine</a>
        </iframe>
      </div>
    </div>
    <div class="col-lg-5 col-md-4">
      <a href="https://petiteceline.bandcamp.com/releases">
        <h2 class="description">
          Petite Celine - Young Soldier
        </h2>
        <h2 class="description">Out Now!</h2>
      </a>

      <a href="https://petiteceline.bandcamp.com/releases">
        <p class="description" style="font-size:14px">purchase Young Soldier</p>
      </a>
    </div>
  </div>

  <div class="row offset-sm-1 col-sm-11 col-lg-8 segment">
    <div class="col-sm-6">
      <h2 class="description">
        LIVE PERFORMANCE
        <br>
        <br>
        APRIL 21st @ 6:30pm
      </h2>
    </div>
    <div class="col-sm-6">
      <h2 class="description">ADDRESS: Arlenes Grocery, 95 Stanton St, New York, NY 10002</h2>
    </div>
  </div>

  <div class="segment offset-sm-1 col-sm-11 col-lg-8 ">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Petite Celine Résumé
        </mat-panel-title>

        <mat-panel-description style="margin:auto">
          Click to {{ panelOpenState ? 'Open' : 'Close' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe src="../assets/celine-acting-resume.pdf#view=Fit&statusbar=0&messages=0&navpanes=0&scrollbar=0" style="width:100%; height:600px" frameborder="0" align="top"></iframe>
      <a  href="../assets/celine-acting-resume.pdf" class="text-right" download>
        <p style="padding-top: 20px; color:black">Download</p>
      </a>
    </mat-expansion-panel>
  </div>

</div>
